/* property text styling */
h1 {
    font-size: 150px;
    color:blueviolet;

}

p {
    text-indent: 100px;
    text-transform: capitalize;
    /* jarak antar huruf
    letter-spacing: 5px; */
    /* jarak antar kata */
    word-spacing: 10px;

}

/* Menghilangkan underline di link */
a {text-decoration: none;}